@inherits LayoutComponentBase

<div class="page">
    <div class="hubgame">
        <HubGame />
    </div>

    <div class="game">
        @Body
    </div>

    <div class="navmenu">
        <NavMenu />
    </div>

    <ModalHost />
</div>
