<div class="game-navmenu">
    <button class="menu-button" @onclick="ModalService.OpenFields">🌱<br />Pola</button>
    <button class="menu-button" @onclick="ModalService.OpenTrees">🌳<br />Drzewa</button>
    <button class="menu-button" @onclick="ModalService.OpenAnimals">🐑<br />Zwierzęta</button>
    <button class="menu-button" @onclick="ModalService.OpenCrafting">🔧<br />Produkcja</button>
</div>
