<div class="modal-header">
    <h2>🐑 Zwierzęta</h2>
    <button class="close-button" @onclick="ModalService.CloseAll">✖</button>
</div>

<div class="modal-content">
    <!-- Obsługa hodowli -->
    <p>Karmienie, zbieranie mleka, jajek itd.</p>
</div>